.contents{
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px;
  background-color: gray;
  .content{
    width: 80%;
    margin: 0 auto 10px;
    text-align: center;
    background: white;
  }
}

.new_post{
  width: 250px;
  margin: 0 auto;
}
